<%- include('partials/cabecalho') -%>

<h1>Nova Postagem</h1>
<form action="/postar" method="post">
  <input type="text" autocomplete="off" name="textoPostar" />
  <button type="submit" name="botaoPostar">Postar</button>
</form>

<%- include('partials/rodape') -%>
